.container {
    max-width: 100%;
    margin: auto;
 }
 header {
    display: flex;
 }
 
 .logo {
    flex: 1;
 }
   
 .title {
   flex: 4;
   text-align: right;
   text-transform: uppercase;
 }

 header {
    display: flex;
 }
 
 .logo {
    flex: 1;
 }
   
 .title {
   flex: 4;
 }
 
 .items-container {
    display: flex;
    justify-content: space-between;
 }
 
 .item {
    text-align: center;
 }
 @font-face {
    font-family: "Main title";
    src: url(../fonts/Lato-Italic.ttf) format("truetype");
 }
 
 @font-face {
    font-family: Text;
    src: url(../fonts/Lato-Light.ttf) format("truetype");
 }
 
 .container {
    width: 800px;
    margin: auto;
    font-family: Text, sans-serif;
 }


 @media screen and (max-width: 400px) {

   .items-container {
       flex-direction: column;
   }

   .item {
       width: 200px;
       margin: auto;
       padding-bottom: 1rem;
   }

   h2 {
       text-align: center;
       padding-left: 0px;
       font-size: 2rem;
   }

   .logo {
       padding-top: 1.1rem;
   }
  
}
